<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5433/testdb</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <property name="packagesToScan">com.ssh.entity</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!--  <property name="hbm2ddl.auto">create</property>
        -->
        <property name="hbm2ddl.auto">update</property>
        <property name="myeclipse.connection.profile"></property>

        <!--     使用的是本地事务（jdbc事务）  -->
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping  resource="base/EmployeeInfoMapper.hbm.xml"/>



    </session-factory>
</hibernate-configuration>